<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Shrikhand" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1> Songs </h1>
    </header>
    <section>
      <% @songs.each do |song| %>
      <div id="song-<%= song.id %>" class="songs-container">
        <div class="col">
            <img src="images/analog-audio-cassette.jpg" alt="Vinyl Photo by Adrian Korte">
            <p><%= song.title %></p>
            <p><%= song.length %> seconds</p>
            <p>Play Count: <%= song.play_count %></p>
        </div>
      </div>
      <% end %>
    </section>
  </body>
</html>
